
:host {
  width: 1000px;
  height: 100px;
  background-color: lightgoldenrodyellow;
  display: flex;
  outline: 1px solid gray;
}

.container {
  position: relative;
}

.container__delimiter-vert {
  display: block;
  width: 1px;
  height: 100%;
  background-color: silver;
  position: absolute;
  top: 0;
}

.container__delimiter-horiz {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 0;
}
