<div #rendererContainer
     class="container"
>

  <div class="container__delimiter-vert"
       *ngFor="let num of [0,1,2,3,4,5,7,8,9,0,1,2,3,4,5,6,7]; let i=index"
       [style.left]="30 + i * 60 + 'px'"
  ></div>
  
  <div class="container__delimiter-horiz"></div>

</div>
